# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# если хотите хранить package-lock.json в git, удалите следующую строку
package-lock.json

# Vite build
dist/
.vite/

# Editor / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
