.app-container {
  padding: 0px;
  margin: 0 auto;
  font-family: sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

/* Базовые стили для всего документа */
body, #root, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

