/* src/components/App/App.css */

.app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center;     /* по вертикали */
  background: #001a33;     /* тёмно-синий фон страницы */
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

