.app-container {
  padding: 20px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Базовые стили для всего документа */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

