.app-container {
  padding: 20px;
  font-family: sans-serif;
}

/* Базовые стили для всего документа */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app--dark {
  background-color: #111;
}

.app--light {
  background-color: #f5f5f5;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  padding: 24px;
}



